body.modal-active {
    overflow: hidden;
}

#modal-container {
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: scale(0);
    z-index: 10;
}

#modal-container.button_cnt_modal {
    transform: scaleY(0.01) scaleX(0);
    animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.button_cnt_modal .modal-background .modal {
    transform: scale(0);
    animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.button_cnt_modal.out {
    transform: scale(1);
    animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.button_cnt_modal.out .modal-background .modal {
    animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container .modal-background {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.4);
}

#modal-container .modal-background .modal {
    background: white;
    display: inline-block;
    border-radius: 3px;
    font-weight: 300;
    position: relative;
    width: 60%;
    height: 35em;
    overflow: hidden;
    padding: 0 3em;
    display: flex;
    align-items: center;
}

#modal-container.button_cnt_modal.out {
    transform: scale(1);
    animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.button_cnt_modal.out .modal-background .modal {
    animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes unfoldIn {
    0% {
        transform: scaleY(0.005) scaleX(0);
    }

    50% {
        transform: scaleY(0.005) scaleX(1);
    }

    100% {
        transform: scaleY(1) scaleX(1);
    }
}

@keyframes unfoldOut {
    0% {
        transform: scaleY(1) scaleX(1);
    }

    50% {
        transform: scaleY(0.005) scaleX(1);
    }

    100% {
        transform: scaleY(0.005) scaleX(0);
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@media only screen and (min-width: 0px) {
    #modal-container .modal-background .modal {
        width: 80%;
    }
}

@media only screen and (min-width: 80em) {
    #modal-container .modal-background .modal {
        width: 60%;
    }
}

@media only screen and (max-width: 768px) {
    #modal-container {
        box-sizing: border-box !important;
        font-size: 16px !important;
    }

    .modal {
        padding: 1em !important;
        width: 92% !important;
    }
}